Droid/bin
Droid/obj
Moodify/bin
Moodify/obj
packages
iOS/bin
iOS/obj
Moodify.userprefs
.vs/
Droid/Resources/Resource.designer.cs
Droid/Moodify.Droid.csproj.user
Droid/Resources/values/google_maps_key.xml
